// Body
$font-family-sans-serif: 'Open Sans', sans-serif;
$body-bg: #EFEFF0;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #4169e1;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #e141b9;
$red: #e14169;
$orange: #e16941;
$yellow: #e1b941;
$green: #69e141;
$teal: #4dc0b5;
$cyan: #41e1b9;