@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    border-top: 3px solid $blue;
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 0.8rem 1rem;
}

.card-title-wrapper {
    margin-left: -1.25rem;
    padding-left: 1.25rem;
    border-left: 5px solid $blue
}

@include media-breakpoint-up('md') {
    .navbar-light .navbar-nav .nav-link:hover {
        color: $blue;
        border-bottom: 3px solid $blue;
        margin-bottom: -1.2rem;
        padding-bottom: 1.2rem;
        transition: border 0.1s ease-out, color 0.1s ease-out;
    }
}

@import "~select2/dist/css/select2.css";
@import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css";